@media (min-width: 1533px) {
  .o-mail-Form-chatter.customBottom {
    width: 100% !important;
  }

  .o_form_view.o_xxl_form_view .customBottom {
    flex: auto !important;
  }

  .o_form_view .customBottom {
    max-width: none !important;
  }
}

.modal-dialog:has(.o_synconics_bi_dashboard_form_view_view) {
  margin: 0;
  max-width: 100% !important;
  --modal-width: 100%;
}
